/*=================================================*/

/* style.css - stylesheet for Poly Entertainment

/*=================================================*/
/*Stylings for the header and menu*/

* {margin: 0; box-sizing: border-box;}

header {
	width: 100%;
	margin: 1em 0;
	z-index: 200;
}

.hamburger {width: 4em; display: none; z-index: 99;}
img {width: 100%;}

#toggle {display: block;}
.menu {width: 100%; height: 2em; float: left; background-color: #ffffff;}

nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style: none;
}

.social ul {
	display: none;
	flex-flow: column nowrap;
	list-style: none;
	font-size: 2.2em;
}

@media all and (max-width: 40em) {
	header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
	}
	
	#toggle {display: none;}
	.hamburger{display: block; height: 4em;}

	.menu {
		display: flex;
		position: absolute;
		top: 0em;
		left: 0em;
		padding-top: 10em;
		width: 10em;
		height: 99vh;
		background-color: #ffffff;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: flex-end;
		z-index: 9;
	}

	nav ul {
		flex-flow: column nowrap;
	}
	.social ul {display: flex;}
	
}

/*=================================================*/
/*stylings for the main body and videos*/

.scanlines {
	position: absolute;
	top: 9em;
	height: 100vh;
	width: 100%;
	background-image: url(images/scanlines.png);
	background-repeat: repeat;
	background-size: .15em;
	opacity: .12;
	z-index: 2;
	pointer-events: none;
}

@media all and (max-width: 40em) {
	.scanlines {top: 8em;}
}

.content {
/*	background-color: #461ca4;*/
	margin: 0 auto;
	background-color: #362166;
	box-shadow: inset 0 0 1em #ffffff;
	border: .1em #ffffff solid;
	border-radius: .5em;
	color: white;
	text-align: justify;
}

.content:nth-child(2){
	background-color: #ffffff;
	color: darkslategray;
	z-index: 100;
}

/*=================================================*/
/*stylings for images*/

h1 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.name-inc {
	height: 3em;
	width: auto;
	display: block;
	margin: 0 .2em;
}

.logo {
	width: 5em;
	margin: .1em;
}

/*=================================================*/
/*animation timer*/

@keyframes startupTimer {
	0% {opacity: 0;}
	80% {opacity: 0;}
	100% {opacity: 1;}
}

/*=================================================*/
/*Stylings for welcome and reflection fonts, launch page */

h2 {
	font-size: 400%;
	text-align: center;
}

.reflection {
	align-content: stretch;
	transform: scaleY(-1);
	margin: -.4em 0 0 0;
/*	background: linear-gradient(transparent, #362166, #362166);*/
}

.launch {
	height: 23em;
}

#timer {
	position: relative;
	top: -8.4em;
	opacity: 1;
	text-align: center;
	animation-name: startupTimer;
	animation-duration: 8s;
	animation-iteration-count: 1;
}

#timer-clock {
	font-size: 3em;
	line-height: 1.8em;
	margin: -.5em 0 0 0;
}

.large-time {
	font-size: 1.8em;
}

.small-time {
	font-size: 2em;
	font-family: 'Share Tech', sans-serif;
}

.timer-text {
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1em;
	margin: -2em 0 0 0;
}

#welcome{
	position: relative;
	top: 7em;
	opacity: 0;
	animation-name: startupHello;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-delay: 1.2s;
}

@media all and (max-width:30em){
	.launch {height: 84vw;}
	#timer-clock {font-size: 11vw;}	
}

@media all and (max-width:20em) {
	.timer-text {
		font-size: 9vw;
	}
}
/*=================================================*/
/*animation Hello*/

@keyframes startupHello {
	0% {opacity: 0;}
	20% {opacity: 1;}
	80% {opacity: 1;}
	100% {opacity: 0;}
}

/*=================================================*/
/*font stylings*/

h1, h2, h3, h4 {
	font-family: 'Montserrat Alternates', sans-serif; 
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.4em;
	font-family: 'Quicksand', sans-serif;
	padding: 0 .5em;
}

p {
	padding: 1em;
	font-size: 1.4em;
	font-family: 'Quicksand', sans-serif;
}

/*
font-family: 'Quicksand', sans-serif; **general font**
font-family: 'Share Tech', sans-serif; **timer font**
font-family: 'Montserrat Alternates', sans-serif; **Heading Font***/ 