/*=================================================*/

/* style.css - stylesheet for Poly Entertainment

/*=================================================*/

* {margin: 0; box-sizing: border-box;}

header {
	width: 100%;
}

h1 {
	text-align: center;
}

.hamburger {width: 8em; display: none; z-index: 99;}
img {width: 100%;}

#toggle {display: bock;}
.menu {width: 100%; float: left; background-color: aqua;}

nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.social ul {
	display: none;
	flex-flow: column nowrap;
}

@media all and (max-width: 40em) {
	header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
	}
	
	#toggle {display: none;}
	.hamburger{display: block; height: 10em;}

	.menu {
		display: flex;
		position: absolute;
		top: 0em;
		left: 0em;
		padding-top: 10em;
		width: 10em;
		height: 99vh;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: flex-end;
	}

	nav ul {
		flex-flow: column nowrap;
	}
	.social ul {display: flex;}
	
	h1 {float: right;}
}